[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/nakkaa/hugo-primer.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/nakkaa/hugo-coder.git
